html, body, #root {
  height: 100%;
  margin: 0;
  /* overflow: hidden;  */

}

/* body {
  padding: 0;  
} */

:root:root {
  --adm-color-primary: #ff8f1f;
}

/* .adm-form {
  background-color: #272929;
} */


.form-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center; /* Horizontal centering */
  height: 100vh; /* Full viewport height */
  width: 100%;
  padding: 10px; /* Equal padding on all sides */
  box-sizing: border-box; /* Padding included in the width/height */
}

.signup-link {
  margin-top: 15px; /* Adds spacing between the form and the link */
  text-align: center; /* Centers the link text */
  width: 100%; /* Makes the link occupy full width below the form */
}

.adm-list-header{
  font-size: 23px
}

.form-header {
  text-align: center;
  margin-bottom: 20px; /* Adds spacing between header and form */
}

.form-header h1 {
  font-size: 2rem; /* Makes the header text bigger */
  color: #777474;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifx 
}

.dashboard-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  overflow: hidden; 

}

.content {
  flex: 1; /* Takes up the remaining space */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px); /* Calculate height by subtracting the TabBar height */
}

.tab-bar {
  flex-shrink: 0;
  height: 50px; /* Explicit height for TabBar */}

.top-section {
  display: flex;
  padding: 0; /* Remove padding for more space */
  flex: 1; /* Top section takes up 50% of the available space */
  border-bottom: 1px solid #ccc;
  overflow-y: auto; /* Allow scrolling if content exceeds available space */
  justify-content: center; /* Vertical centering */
  align-items: center; /* Horizontal centering */ 
}

.bottom-section {
  flex: 1; /* Bottom section takes up 50% of the available space */
  overflow-y: auto; /* Allow scrolling if list gets too long */
  padding: 0;

}

