html, body, #root {
  height: 100%;
  margin: 0;
  /* overflow: hidden;  */

}

/* body {
  padding: 0;  
} */

:root:root {
  --adm-color-primary: #ff8f1f;
}

/* .adm-form {
  background-color: #272929;
} */


.form-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center; /* Horizontal centering */
  height: 100vh; /* Full viewport height */
  width: 100%;
  padding: 10px; /* Equal padding on all sides */
  box-sizing: border-box; /* Padding included in the width/height */
}

.signup-link {
  margin-top: 15px; /* Adds spacing between the form and the link */
  text-align: center; /* Centers the link text */
  width: 100%; /* Makes the link occupy full width below the form */
}

.adm-list-header{
  font-size: 23px
}

.form-header {
  text-align: center;
  margin-bottom: 20px; /* Adds spacing between header and form */
}

.form-header h1 {
  font-size: 2rem; /* Makes the header text bigger */
  color: #777474;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifx 
}

  .dashboard-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    overflow: hidden; 

  }

  .content {
    flex: 1; /* Takes up the remaining space */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px); /* Calculate height by subtracting the TabBar height */
  }

  .tab-bar {
    flex-shrink: 0;
    /* height: 50px; /* Explicit height for TabBar */} */

  /* .top-section {
    display: flex;
    padding: 0; 
    flex: 1; 
    overflow-y: auto; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

  } */
  .top-section {
    display: flex;
    flex: 1; /* Top section takes up half of the remaining space */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    flex-direction: column;
    padding: 0; /* Remove padding */
    background-color: #f7f7f7; /* Adjust background if needed */
  }

  .page-header{
    height: 50px; 
    flex-shrink: 0;
    display: flex; 
    text-align: center;
    font-family: Verdana, sans-serif;
    justify-content:space-between
  }
  .chart-section {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-height: 100%;
  }
  

  .back-action{
    /* flex: 1;  */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    float: left;
    margin-left: 10px;

  }

  .header-text{
    flex: 3; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    background-color: #343131;
    padding: 8px;
    border-radius: 15%;
  }

  .bottom-section {
    flex: 1; /* Bottom section takes up 50% of the available space */
    overflow-y: auto; /* Allow scrolling if list gets too long */
    padding: 0;
  }

  .some-action{
    /* flex: 1;  */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    float: right;
    margin-right: 10px;
  }

  .adm-image{
    border-radius: 10px !important;
  }
/* * {
  border: 1px solid #bbb;
} */